<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="goods.cap.app.goodsgoods">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GoodsApplication"
        android:allowBackup="true"
        android:icon="@drawable/temp_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/temp_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SignInActivity" />
        <activity android:name=".Activity.SplashActivity" />
        <activity android:name=".Activity.PermissionActivity" />
        <activity android:name=".Activity.StarActivity" />
        <activity android:name=".Activity.ForgotActivity" />
        <activity android:name=".Activity.AboutActivity" />
        <activity android:name=".Activity.NoticeActivity" />
        <activity android:name=".Activity.PostActivity" />
        <activity android:name=".Activity.StatActivity" />
        <activity android:name=".Activity.UserProfileActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.DetailItemActivity" />

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="false" />

        <activity android:name=".Activity.CommentActivity" />
        <activity android:name=".Activity.DetailFoodActivity"></activity>
    </application>

</manifest>